body {
  /* CSS HEX */
  --bud-green: #6da34dff;
  --english-violet: #56445dff;
  --steel-teal: #548687ff;
  --dark-sea-green: #8fbc94ff;
  --yellow-green-crayola: #c5e99bff;

  /* CSS HSL */
  --bud-green: hsla(98, 36%, 47%, 1);
  --english-violet: hsla(283, 16%, 32%, 1);
  --steel-teal: hsla(181, 23%, 43%, 1);
  --dark-sea-green: hsla(127, 25%, 65%, 1);
  --yellow-green-crayola: hsla(88, 64%, 76%, 1);
}
